@import '_vars';
@import '_nav';
@import '_front';
@import '_services';

.hidden {

    display: none;
}

.heading {

    text-align: center;
    margin: 20px;
}

/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

