@import 'modules/_vars';
@import 'modules/_nav';
@import 'modules/_front';
@import 'modules/_services';
@import 'modules/_work';
@import 'modules/_about';
@import 'modules/_contact';
@import 'modules/_footer';

.hidden {

    display: none;
}

body {
    font-family: $regFont;
    font-size: 1em;

}
.heading {

    text-align: center;
    margin: 20px;
    font-family: $fontHeading;
    font-size: 1.75em;
}

/*Reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

