#aboutWrapper {

    /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(150px, 1fr);
    //padding: 0 0 1rem 0;
  }


  .bioBlock {
        max-width: 500px;
        border: 1px black solid;
        background-color:white;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
  }

  @media screen and (min-width: 600px) {

    #aboutWrapper {

        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;
      }
  }

