#aboutWrapper {

    /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(150px, 1fr);
    //padding: 0 0 1rem 0;
  }


  .bioBlock {
        max-width: 300px;
        background-color: $header-color;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: 1em 2em;

        h2 {

          text-align: center;
          font-family: $fontHeading;
          margin-bottom: 20px;
        }

        img {

          margin: 0 auto;
          width: 100%;
        }

        p {
          margin-top:20px;

        }
  }



  @media screen and (min-width: 600px) {

    #aboutWrapper {

        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;
      }
  }

