#contactSect {

    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;

    #contactWrapper {

        text-align: center;
    }
    
    form {

        margin-bottom: 10px;
        padding: 1.25em 0em 1.25em 0em;
        background-color: $font-color;
    }
    input {

        border-radius: 50px;
        border: 1.25px white solid;
        width: 200px;
        height: 20px;
        margin-bottom: 20px;
    }

    p {

        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    label {

        display: inline-block;
        width:200px;
        color: white;
        margin-bottom: 10px;
    }

    .inputSect, #messageContain {

        text-align: center;
    }

    #messageContain {

        .form-group {
    
            text-align:center;
            display: inline;
    
        }

        textarea {

            margin: 0 auto;
            width: 300px;
            height: 300px;
            margin-top: 10px;
            border-radius: 10px;
            text-align: center;
            display: block;
    
        }


    
    }

   #singlebutton {

        padding: 20px;
        background-color: $header-color;
        margin-top: 20px;
        box-shadow: 0px;
        color: white;
        border: 0px;
        opacity: 1;
        -webkit-transition: opacity 0.5s ease-in-out;
           -moz-transition: opacity 0.5s ease-in-out;
           -ms-transition: opacity 0.5s ease-in-out;
           -o-transition: opacity 0.5s ease-in-out;
           transition: opacity 0.5s ease-in-out;

    }

    #singlebutton:hover {

        opacity: 0.75;

    }




}

@media screen and (min-width: 500px) and (max-width: 699px){

    label {

        width: 10%;
    }

    #contactSect #messageContain {

    textarea {

        margin: 0 auto;
        width: 400px;
        margin-top: 10px;
        border-radius: 10px;
        text-align: center;
        display: block;

    }

}
}

@media screen and (min-width: 786px) {

    #contactSect #messageContain {

    textarea {

        width: 700px;

    }

    }
}

/*@media screen and (min-width: 786px) {

    #contactWrapper {

        max-width: 1260px;
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-gap: 20px;
        padding: 0 0 1rem 0;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;

        form .contactBlock {

            max-width: 300px;
            border: 1px black solid;
            background-color:white;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
    
        }
    }

}*/


