#contactSect {

    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    
    form {

        margin-bottom: 10px;
        padding: 1.25em 0em 1.25em 0em;
        background-color: $font-color;
    }
    input {

        border-radius: 50px;
        border: 1.25px black solid;
        width: 40%;
        height: 20px;
        margin-bottom: 20px;
    }

    p {

        text-align: center;
        margin-bottom: 1em;
        color: white;
    }

    label {

        display: inline-block;
        width: 20%;
    }

    .inputSect, #messageContain {

        text-align: center;
    }

    #messageContain {

        .form-group textarea {
    
            display: block;
    
        }

        textarea {

            margin: 0 auto;
            width: 70%;
        }
    
    }

    button {

        margin: 0 auto;
        width: 100%;
    }


}

@media screen and (min-width: 500px) {

    label {

        width: 10%;
    }
}

/*@media screen and (min-width: 786px) {

    #contactWrapper {

        max-width: 1260px;
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-gap: 20px;
        padding: 0 0 1rem 0;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;

        form .contactBlock {

            max-width: 300px;
            border: 1px black solid;
            background-color:white;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
    
        }
    }

}*/


