#serviceWrapper {

    /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(150px, 1fr);
    grid-template-rows: 250px;
    padding: 0 0 1rem 0;
  }


  .serviceBlock {
        max-width: 300px;
        background-color: #4C3F4C;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
  }

  @media screen and (min-width: 600px) and (max-width: 785px) {

    #serviceWrapper {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-left: 50px;
        padding-right: 50px;
      }
  }

  @media screen and (min-width: 786px) {

    #serviceWrapper {

        /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
        grid-template-columns: repeat(4, 1fr);
        padding-left: 50px;
        padding-right: 50px;
      }
  }


  