#workWrapper {

    /* fit in up to 4 columns of 400px wide tiles*/
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    //padding: 0 0 1rem 0;
  }


  .workBlock {
        max-width: 300px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
       
        img {

           opacity: 0.5;
           -webkit-transition: opacity 0.5s ease-in-out;
           -moz-transition: opacity 0.5s ease-in-out;
           -ms-transition: opacity 0.5s ease-in-out;
           -o-transition: opacity 0.5s ease-in-out;
           transition: opacity 0.5s ease-in-out;
        }

        img:hover {

          opacity: 1;
          filter: alpha(opacity=100);
        }

    
      
  }


  @media screen and (min-width: 600px) and (max-width: 785px) {

    #workWrapper {

        grid-template-columns: repeat(2, 1fr);
       // grid-template-rows: repeat(2, 1fr);
      }

      
  }

  @media screen and (min-width: 786px) {

    #workWrapper {

        /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
        grid-template-columns: repeat(4, 1fr);
      }
  }

  @media screen and (min-width: 786px) and (max-width:1199px) {

    #workWrapper {

        /* fit in up to 4 columns of 300px wide tiles, 20px gutters: 4*300 + 3*20: */
        grid-template-columns: repeat(4, 1fr);
      }

      .workBlock {
        max-width: 200px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }
  }
